# port number of the aniwatch api
ANIWATCH_API_PORT=4000


# RATE LIMIT
# duration to track requests (in milliseconds) for rate limiting. here, 30*60*1000 = 1800000 = 30 minutes
ANIWATCH_API_WINDOW_MS=1800000 
# maximum number of requests in this timeperiod
ANIWATCH_API_MAX_REQS=70 




# NOTE:
#   The deployment environment of the Aniwatch API.
#   Many configurations depend on this env, rate limiting being one of them. 
#   It must be set incase of serverless deployments; otherwise, you may run into weird issues.
#   Possible values: 'nodejs' | 'docker' | 'vercel' | 'render' | 'cloudflare-workers'
ANIWATCH_API_DEPLOYMENT_ENV="nodejs"

